/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }

    .project-tile {
    width: 100%;
    display: flex;
  }

  .project-tile:nth-child(2n+1){
    flex-direction: column-reverse;
  }

  .project-tile:nth-child(2n){
    flex-direction: column;
  }

  .project-tile .project-image {
    width: 100%;
  }

  .project-image img {
    filter: unset;
  }
}

/* 600px / 16px =  */
@media (max-width: 37.5em){
  nav#navbar {
    align-items: center;
    justify-content: center;
  }

  #welcome-section .section-container .left {
    width: 100%;
  }

  #welcome-section .section-container .right {
    display: none;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }

  span.tag {
    display: none;
  }
}