nav {
  position: fixed;
  width: 100%;
  height: var(--nav-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--dark-primary);
  border-bottom: 1px solid var(--nav-border);
  z-index: 2;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  padding: 1.5rem 2rem;
}

nav ul li a {
  color: var(--text-secondary);
  transition: var(--transition);
}

nav ul li a:hover {
  color: var(--text-primary);
}

#logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 2rem;
  color: var(--text-primary);
}

span.tag {
  color: #00B0FF;
  font-weight: bold;
}

#logo span.tag:nth-of-type(2n) {
  padding-left: 1rem;
}

#name {
  font-weight: bold;
  font-size: 2rem;
}

@media (max-width: 37.5em) {
  nav#navbar {
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 28.75em) {
  span.tag {
    display: none;
  }
}